body {
  background: #ffae00;
}

.a-line {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
}

footer {
  width: 80%;
  margin-left: 10%;
}

button {
  margin-top: 10px;
}

